{# -*- engine: jinja -*- #}
<div id="summary" class="summary">
  <div>
    <table class="legend">
      <tr>
        <th scope="row">Directory:</th>
        <td>{{ info.get_directory() }}{{ relative_path | default("") }}</td>
      </tr>
      <tr>
        <th scope="row">Coverage:</th>
        <td class="legend">
          <span class="coverage-low">low: &ge; 0%</span>
          {% if COVERAGE_MED != COVERAGE_HIGH %}
          <span class="coverage-medium">medium: &ge; {{COVERAGE_MED}}%</span>
          {% endif %}
          {% if COVERAGE_HIGH < 100 %}
          <span class="coverage-high">high: &ge; {{COVERAGE_HIGH}}%</span>
          {% else %}
          <span class="coverage-high">high: = 100%</span>
          {% endif %}
        </td>
      </tr>
      {% if (COVERAGE_MED != LINE_COVERAGE_MED) or (COVERAGE_HIGH != LINE_COVERAGE_HIGH) %}
      <tr>
        <th scope="row">Lines:</th>
        <td class="legend">
          <span class="coverage-low">low: &ge; 0%</span>
          {% if LINE_COVERAGE_MED != LINE_COVERAGE_HIGH %}
          <span class="coverage-medium">medium: &ge; {{LINE_COVERAGE_MED}}%</span>
          {% endif %}
          {% if LINE_COVERAGE_HIGH < 100 %}
          <span class="coverage-high">high: &ge; {{LINE_COVERAGE_HIGH}}%</span>
          {% else %}
          <span class="coverage-high">high: = 100%</span>
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {% if (COVERAGE_MED != BRANCH_COVERAGE_MED) or (COVERAGE_HIGH != BRANCH_COVERAGE_HIGH) %}
      <tr>
        <th scope="row">Branches:</th>
        <td class="legend">
          <span class="coverage-low">low: &ge; 0%</span>
          {% if BRANCH_COVERAGE_MED != BRANCH_COVERAGE_HIGH %}
          <span class="coverage-medium">medium: &ge; {{BRANCH_COVERAGE_MED}}%</span>
          {% endif %}
          {% if BRANCH_COVERAGE_HIGH < 100 %}
          <span class="coverage-high">high: &ge; {{BRANCH_COVERAGE_HIGH}}%</span>
          {% else %}
          <span class="coverage-high">high: = 100%</span>
          {% endif %}
        </td>
      </tr>
      {% endif %}
    </table>
  </div>

  <div>
    <table class="coverage">
      <tr>
        <th scope="row">Lines:</th>
        <td class="{{info.lines.class}}">
          <div>{{info.lines.exec}} of {{info.lines.total}}{% if info.lines.excluded %} - {{info.lines.excluded}} excluded{% endif %}</div>
          <div>{{info.lines.coverage}}%</div>
        </td>
      </tr>
      <tr>
        <th scope="row">Branches:</th>
        <td class="{{info.branches.class}}">
          <div>{{info.branches.exec}} of {{info.branches.total}}{% if info.branches.excluded %} - {{info.branches.excluded}} excluded{% endif %}</div>
          <div>{{info.branches.coverage}}%</div>
        </td>
      </tr>
      {% if SHOW_CONDITION_COVERAGE %}
      <tr>
        <th scope="row">Conditions:</th>
        <td class="{{info.conditions.class}}">
          <div>{{info.conditions.exec}} of {{info.conditions.total}}{% if info.conditions.excluded %} - {{info.conditions.excluded}} excluded{% endif %}</div>
          <div>{{info.conditions.coverage}}%</div>
        </td>
      </tr>
      {% endif %}
      {% if SHOW_DECISION %}
      <tr>
        <th scope="row">Decisions:</th>
        <td class="{{info.decisions.class}}">
          <div>{{info.decisions.exec}} of {{info.decisions.total}}</div>
          <div>{{info.decisions.coverage}}%</div>
        </td>
      </tr>
      {% endif %}
      <tr>
        <th scope="row">Functions:</th>
        <td class="{{info.functions.class}}">
          <div>{{info.functions.exec}} of {{info.functions.total}}{% if info.functions.excluded %} - {{info.functions.excluded}} excluded{% endif %}</div>
          <div>{{info.functions.coverage}}%</div>
        </td>
      </tr>
      {% if SHOW_CALLS %}
      <tr>
        <th scope="row">Calls:</th>
        <td class="{{info.calls.class}}">
          <div>{{info.calls.exec}} of {{info.calls.total}}{% if info.calls.excluded %} - {{info.calls.excluded}} excluded{% endif %}</div>
          <div>{{info.calls.coverage}}%</div>
        </td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>
