{# -*- engine: jinja -*- #}
<div id="summary-{{ link }}" class="summary{% if info.single_page and not info.static_report %} js-enabled-hidden{% endif %}">
  <div>
    <table class="legend">
      <tr>
        <th scope="row">Directory:</th>
        <td>{{info.get_directory()}}</td>
      </tr>
      <tr>
        <th scope="row">Coverage:</th>
        <td class="legend">
          <span class="coverage-low">low: &ge; 0%</span>
          {% if COVERAGE_MED != COVERAGE_HIGH %}
          <span class="coverage-medium">medium: &ge; {{COVERAGE_MED}}%</span>
          {% endif %}
          {% if COVERAGE_HIGH < 100 %}
          <span class="coverage-high">high: &ge; {{COVERAGE_HIGH}}%</span>
          {% else %}
          <span class="coverage-high">high: = 100%</span>
          {% endif %}
        </td>
      </tr>
      {% if (COVERAGE_MED != LINE_COVERAGE_MED) or (COVERAGE_HIGH != LINE_COVERAGE_HIGH) %}
      <tr>
        <th scope="row">Lines:</th>
        <td class="legend">
          <span class="coverage-low">low: &ge; 0%</span>
          {% if LINE_COVERAGE_MED != LINE_COVERAGE_HIGH %}
          <span class="coverage-medium">medium: &ge; {{LINE_COVERAGE_MED}}%</span>
          {% endif %}
          {% if LINE_COVERAGE_HIGH < 100 %}
          <span class="coverage-high">high: &ge; {{LINE_COVERAGE_HIGH}}%</span>
          {% else %}
          <span class="coverage-high">high: = 100%</span>
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {% if (COVERAGE_MED != BRANCH_COVERAGE_MED) or (COVERAGE_HIGH != BRANCH_COVERAGE_HIGH) %}
      <tr>
        <th scope="row">Branches:</th>
        <td class="legend">
          <span class="coverage-low">low: &ge; 0%</span>
          {% if BRANCH_COVERAGE_MED != BRANCH_COVERAGE_HIGH %}
          <span class="coverage-medium">medium: &ge; {{BRANCH_COVERAGE_MED}}%</span>
          {% endif %}
          {% if BRANCH_COVERAGE_HIGH < 100 %}
          <span class="coverage-high">high: &ge; {{BRANCH_COVERAGE_HIGH}}%</span>
          {% else %}
          <span class="coverage-high">high: = 100%</span>
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {% if SHOW_DECISION and decisions.unchecked > 0 %}
      <tr>
        <th scope="row">Warnings:</th>
        <td class="warning_text">{{decisions.unchecked}} unchecked decisions!</td>
      </tr>
      {% endif %}
    </table>
  </div>
  <div>
    <table class="coverage">
      <tr>
        <th scope="row">Lines:</th>
        <td class="{{lines.class}}">
          <div>{{lines.exec}} of {{lines.total}}{% if lines.excluded %} - {{lines.excluded}} excluded{% endif %}</div>
          <div>{{lines.coverage}}%</div>
        </td>
      </tr>
      <tr>
        <th scope="row">Branches:</th>
        <td class="{{branches.class}}">
          <div>{{branches.exec}} of {{branches.total}}{% if branches.excluded %} - {{branches.excluded}} excluded{% endif %}</div>
          <div>{{branches.coverage}}%</div>
        </td>
      </tr>
      {% if SHOW_CONDITION_COVERAGE %}
      <tr>
        <th scope="row">Conditions:</th>
        <td class="{{conditions.class}}">
          <div>{{conditions.exec}} of {{conditions.total}}{% if conditions.excluded %} - {{conditions.excluded}} excluded{% endif %}</div>
          <div>{{conditions.coverage}}%</div>
        </td>
      </tr>
      {% endif %}
      {% if SHOW_DECISION %}
      <tr>
        <th scope="row">Decisions:</th>
        <td class="{{decisions.class}}">
          <div>{{decisions.exec}} of {{decisions.total}}</div>
          <div>{{decisions.coverage}}%</div>
        </td>
      </tr>
      {% endif %}
      <tr>
        <th scope="row">Functions:</th>
        <td class="{{functions.class}}">
          <div>{{functions.exec}} of {{functions.total}}{% if functions.excluded %} - {{functions.excluded}} excluded{% endif %}</div>
          <div>{{functions.coverage}}%</div>
        </td>
      </tr>
      {% if SHOW_CALLS %}
      <tr>
        <th scope="row">Calls:</th>
        <td class="{{calls.class}}">
          <div>{{calls.exec}} of {{calls.total}}{% if calls.excluded %} - {{calls.excluded}} excluded{% endif %}</div>
          <div>{{calls.coverage}}%</div>
        </td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>
