:root {
  font-family: sans-serif;
  --tab_size: {{tab_size}};
}

{% include "style.colors.css" %}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: var(--color-fg-default);
  background-color: var(--color-canvas-default)
}

h1
{
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  font-size: 20pt;
  font-weight: bold;
}

hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: rgba(0,0,0,0);
  border: 0;
  border-bottom: 1px solid var(--color-border-muted);
}

/* Link formats: use maroon w/underlines */
a:link
{
  color: navy;
  text-decoration: underline;
}
a:visited
{
  color: maroon;
  text-decoration: underline;
}

{% include "style.summary.css" %}

{% include "style.meter.css" %}

{% include "style.filelist.css" %}

{% include "style.details.css" %}

{% if single_page == "js-enabled" %}
.js-enabled .js-enabled-hidden {
  display: none
}

.js-disabled .js-disabled-hidden {
  display: none
}

{% endif %}
footer
{
  text-align: center;
  padding-top: 3px;
}

.position-relative {
  position: relative !important
}

.color-fg-muted {
  color: var(--color-fg-muted) !important
}

.text-mono {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important
}
.text-small {
  font-size: 12px !important
}


.Box {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: var(--body-font-size, 14px);
  line-height: 1.5;
  color: var(--color-fg-default);
  background-color:var(--color-canvas-default);
  border-color: var(--color-border-default);
  border-radius: var(--borderRadius-medium, 6px);
  border-style: solid;
  border-width: var(--borderWidth-thin, 1px)
}

.Box-header {
  background-color: var(--color-canvas-subtle);
  border-color: var(--color-border-default);
  border-style: solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-width: 1px;
  margin: -1px -1px 0;
  padding: 16px;
}

.Box-row {
  border-top: var(--borderWidth-thin, 1px) solid var(--color-border-muted);
  list-style-type: none;
  margin-top: calc(var(--borderWidth-thin, 1px)*-1);
  padding: var(--stack-padding-normal, 16px)
}

.Box-row:first-of-type {
  border-top-left-radius: var(--borderRadius-medium, 6px);
  border-top-right-radius: var(--borderRadius-medium, 6px)
}

.Box-row:last-of-type {
  border-bottom-left-radius: var(--borderRadius-medium, 6px);
  border-bottom-right-radius: var(--borderRadius-medium, 6px)
}

.Box-row--focus-gray:hover {
  background-color: var(--color-canvas-subtle) !important;
}

.filelist .Box-row:nth-child(2n+3){
  background-color: var(--color-accent-subtle);
}

.functionslist .Box-row:nth-child(2n+3){
  background-color: var(--color-accent-subtle);
}

@media (max-width: 544px) {
  .filelist .Box-row {
    flex-direction: column;
  }
  .functionslist .Box-row {
    flex-direction: column;
  }

  .filelist .Box-row > div {
    width: 100%;
  }
  .functionslist .Box-row > div {
    width: 100%;
  }
}

.d-flex {
  display: flex !important
}

.flex-auto {
  flex: auto !important
}

.flex-justify-end {
  justify-content: flex-end !important
}

.flex-wrap {
  flex-wrap: wrap !important
}

.flex-items-baseline {
  align-items: baseline !important
}

.flex-space-between {
  justify-content: space-between !important
}

.min-width-0 {
  min-width: 0 !important
}

.m-3 {
  margin: var(--base-size-16, 16px) !important
}

.mr-2 {
  margin-right: var(--base-size-8, 8px) !important;
}

.py-2 {
  padding-top: var(--base-size-8, 8px) !important;
  padding-bottom: var(--base-size-8, 8px) !important;
}

.col-2,
.col-md-2
{
  width: 12.5%
}

.css-truncate.css-truncate-target {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 125px;
  vertical-align: top
}

.d-block {
  display: block !important
}

.width-fit {
  max-width: 100% !important
}
