
span.coverage-none,
span.coverage-low
{
  background: var(--low_color);
}

span.coverage-medium
{
  background: var(--medium_color);
}

span.coverage-high
{
  background: var(--high_color);
}

div.coverage-unknown
{
  background-color: var(--unknown_color) !important;
}

div.coverage-none,
div.coverage-low
{
  background-color: var(--low_color) !important;
}

div.coverage-medium
{
  background-color: var(--medium_color) !important;
}

div.coverage-high
{
  background-color: var(--high_color) !important;
}

div.percent,
div.counter
{
  color: black !important;
}

div.percent
{
  min-width: 4em;
  text-align: right;
  padding-right: 0.5em !important;
}

div.counter
{
  min-width: 4em;
  text-align: left;
  padding-left: 0.5em !important;
}
