{% extends "base.html" %}

{% block content %}
      <div class="summary">
	<div class="legend">
          <table cellpadding=1 border=0 width="100%">
            <tr>
              <td width="10%" class="headerName">Directory:</td>
              <td width="35%" class="headerValue">{{info.get_directory()}}</td>
            </tr>
            <tr>
              <td class="headerName">Date:</td>
              <td class="headerValue">{{info.date}}</td>
            <tr>
              <td class="headerName">Legend:</td>
              <td class="headerValueLeg">
		<span class="coverage-low">low: &lt; {{COVERAGE_MED}} %</span>
		{% if COVERAGE_MED != COVERAGE_HIGH %}
		<span class="coverage-medium">medium: &gt;= {{COVERAGE_MED}} %</span>
		{% endif %}
		<span class="coverage-high">high: &gt;= {{COVERAGE_HIGH}} %</span>
              </td>
	    </tr>
	  </table>
	</div>
	<div class="coverage">
          <table cellpadding=1 border=0 width="100%">
            <tr>
              <td width="30%"></td>
              <td width="20%" class="headerValue" style="text-align:right;">Exec</td>
              <td width="20%" class="headerValue" style="text-align:right;">Total</td>
              <td width="30%" class="headerValue" style="text-align:right;">Coverage</td>
	    </tr>
	    <tr>
	      <td class="headerName">Lines:</td>
              <td class="headerTableEntry">{{info.lines.exec}}</td>
              <td class="headerTableEntry">{{info.lines.total}}</td>
              <td class="headerTableEntry {{info.lines.class}}">{{info.lines.coverage}} %</td>
            </tr>
	    <tr>
	      <td class="headerName">Branches:</td>
              <td class="headerTableEntry">{{info.branches.exec}}</td>
              <td class="headerTableEntry">{{info.branches.total}}</td>
              <td class="headerTableEntry {{info.branches.class}}">{{info.branches.coverage}} %</td>
            </tr>
	  </table>
	</div>
      </div>

      <div class="hr"></div>

      <div class="file-list">
	<table width="80%" cellpadding=1 cellspacing=1 border=0>
	  <tr>
	    <td width="44%"><br></td>
	    <td width="8%"></td>
	    <td width="8%"></td>
	    <td width="8%"></td>
	    <td width="8%"></td>
	    <td width="8%"></td>
	  </tr>
	  <tr>
	    <td class="coverTableHead">File</td>
	    <td class="coverTableHead" colspan=3>Lines</td>
	    <td class="coverTableHead" colspan=2>Branches</td>
	  </tr>

	  {% for row in info.files %}

	  <tr>
	    <td class="coverFile">{{row.filename}}</td>
	    <td class="coverBar">
	      <meter class="{{row.lines.bar}}" min="0" max="100" low="{{COVERAGE_MED}}" high="{{COVERAGE_HIGH}}" optimum="99" value="{{row.lines.coverage}}" title="%">{{row.lines.coverage}}</meter>
	    </td>
	    <td class="CoverValue line-coverage {{row.lines.class}}">{{row.lines.coverage}}&nbsp;%</td>
	    <td class="CoverValue line-coverage {{row.lines.class}}">{{row.lines.exec}} / {{row.lines.total}}</td>
	    <td class="CoverValue branch-coverage {{row.branches.class}}">{{row.branches.coverage}}&nbsp;%</td>
	    <td class="CoverValue branch-coverage {{row.branches.class}}">{{row.branches.exec}} / {{row.branches.total}}</td>
	  </tr>

	  {% endfor %}

	  <tr>
	    <td width="44%"><br></td>
	    <td width="8%"></td>
	    <td width="8%"></td>
	    <td width="8%"></td>
	    <td width="8%"></td>
	    <td width="8%"></td>
	  </tr>
	</table>
      </div>
{% endblock %}

