{% extends "base.html" %}

{% block content %}
      <div class="summary">
	<div class="legend">
          <table>
            <tr>
              <td class="headerName">Directory:</td>
              <td class="headerValue">{{info.get_directory()}}</td>
            </tr>
            <tr>
              <td class="headerName">File:</td>
              <td class="headerValue">{{filename}}</td>
            <tr>
	    <tr>
              <td class="headerName">Date:</td>
              <td class="headerValue">{{info.date}}</td>
            <tr>
	  </table>
	</div>
	<div class="coverage">
          <table>
            <tr>
              <td ></td>
              <td class="headerValue">Exec</td>
              <td class="headerValue">Total</td>
              <td class="headerValue">Coverage</td>
	    </tr>
	    <tr>
	      <td class="headerName">Lines:</td>
              <td class="headerTableEntry">{{lines.exec}}</td>
              <td class="headerTableEntry">{{lines.total}}</td>
              <td class="headerTableEntry {{lines.class}}">{{lines.coverage}} %</td>
            </tr>
	    <tr>
	      <td class="headerName">Branches:</td>
              <td class="headerTableEntry">{{branches.exec}}</td>
              <td class="headerTableEntry">{{branches.total}}</td>
              <td class="headerTableEntry {{branches.class}}">{{branches.coverage}} %</td>
            </tr>
	  </table>
	</div>
      </div>
      
      <div class="hr"></div>

      <div class="file-source">
	<table>
	  <tr>
	    <td align="right" class="srcHeader">Line</td>
	    <td align="right" class="srcHeader">Branch</td>
	    <td align="right" class="srcHeader">Exec</td>
	    <td align="left" class="srcHeader src">Source</td>
	  </tr>

	  {% for row in source_lines %}

	  <tr class="source-line">
	    <td class="lineno">{{row.lineno}}</td>
	    <td class="linebranch">
	      {%- for branch in row.linebranch -%}
	      <span class="{{branch.class}}" title="{{branch.message}}">{{branch.symbol}}</span>
	      {%- if branch.wrap %}<br/>{% endif -%}
	      {%- endfor -%}
	    </td>
	    <td class="linecount {{row.covclass}}">{{row.linecount}}</td>
	    <td class="src {{row.covclass}}">{{row.source}}</td>
	  </tr>
	  {% endfor %}

	</table>
      </div>
{% endblock %}
