:root { font-family: sans-serif; }

body
{
    color: #000000;
    background-color: #FFFFFF;
}

/* Link formats: use maroon w/underlines */
a:link
{
    color: navy;
    text-decoration: underline;
}
a:visited
{
    color: maroon;
    text-decoration: underline;
}

/*** TD formats ***/

/* TD Header Information */
th[scope=row]
{
    text-align: right;
    color: black;
    padding-right: 6px;
    font-weight: bold;
    vertical-align: top;
    white-space: nowrap;
}
th[scope=col],
table.legend td
{
    text-align: left;
    color: blue;
    font-weight: bold;
    white-space: nowrap;
}

.coverage td
{
    text-align: right;
    color: black;
    font-weight: bold;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 4px;
    background-color: LightBlue;
}

table.legend td.legend
{
    color: black;
    font-size: 80%;
    font-weight: normal;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

td.legend > span
{
    margin: 2px;
}

td.coverage-unknown,
span.coverage-unknown
{
    background-color: LightGray;
}

td.coverage-none,
span.coverage-none,
td.coverage-low,
span.coverage-low
{
    background-color: {{low_color}} !important;
}

td.coverage-medium,
span.coverage-medium
{
    background-color: {{medium_color}} !important;
}

td.coverage-high,
span.coverage-high
{
    background-color: {{high_color}} !important;
}

/* Coverage Table */

.file-list td, .file-list th {
    padding: 0 10px;
    font-weight: bold;
}

.file-list th[scope^=col]
{
    text-align: center;
    color: white;
    background-color: SteelBlue;
    font-size: 120%;
}

.file-list th[scope=row]
{
    text-align: left;
    color: black;
    font-family: monospace;
    font-weight: bold;
    font-size: 110%;
}

.file-list tr > td,
.file-list tr > th {
    background: LightBlue;
}

.file-list tr:nth-child(even) > td,
.file-list tr:nth-child(even) > th {
	  background: LightSteelBlue
}

td.CoverValue
{
    text-align: right;
    white-space: nowrap;
}

meter {
    -moz-appearance: none;

    width: 30vw;
    min-width: 4em;
    max-width: 15em;
    height: 12px;
    padding: 0;
    background: white;
    vertical-align: baseline;
}

meter::-webkit-meter-bar {
    background: none;
    background-color: white;
}

meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value
{
    border: solid 1px black;
}

meter::-moz-meter-bar
{
    box-sizing: border-box;
}

meter:-moz-meter-optimum::-moz-meter-bar,
meter:-moz-meter-sub-optimum::-moz-meter-bar,
meter:-moz-meter-sub-sub-optimum::-moz-meter-bar
{
    border: solid 1px black;
}

meter.coverage-none:-moz-meter-optimum::-moz-meter-bar,
meter.coverage-low:-moz-meter-optimum::-moz-meter-bar
{
    background: red;
}

meter.coverage-medium:-moz-meter-optimum::-moz-meter-bar
{
    background: yellow;
}

meter.coverage-high:-moz-meter-optimum::-moz-meter-bar
{
    background: green;
}

td.coveredLine,
span.coveredLine
{
    background-color: {{covered_color}}!important;
}

td.uncoveredLine,
span.uncoveredLine
{
    background-color: {{uncovered_color}}!important;
}

.linebranch, .linecount
{
    font-family: monospace;
    border-right: 1px gray solid;
    background-color: lightgray;
    text-align: right;
}

.linebranchDetails
{
    position: relative;
}
.linebranchSummary
{
    cursor: help;
}
.linebranchContents
{
    font-family: sans-serif;
    font-size: small;
    text-align: left;
    position: absolute;
    width: 15em;
    padding: 1em;
    background: white;
    border: solid gray 1px;
    box-shadow: 5px 5px 10px gray;
}

.takenBranch
{
    color: {{takenBranch_color}}!important;
}

.notTakenBranch
{
    color: {{notTakenBranch_color}}!important;
}

.src
{
    padding-left: 12px;
    text-align: left;

    font-family: monospace;
    white-space: pre;

    tab-size: {{tab_size}};
    -moz-tab-size: {{tab_size}};
}

.srcHeader,
span.takenBranch,
span.notTakenBranch
{
    font-family: monospace;
    font-weight: bold;
}

pre
{
    height : 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.source-line
{
    height : 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.lineno
{
    background-color: #EFE383;
    border-right: 1px solid #BBB15F;
    text-align: right;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}

h1
{
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    font-size: 20pt;
    font-weight: bold;
}

hr
{
    background-color: navy;
    height: 3px;
    border: 0;
}

.summary
{
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    justify-content: flex-start;
}

.summary > table
{
    flex: 1 0 7em;
    border: 0;
}

.summary > :last-child {
    margin-left: auto;
}

.coverage .headerValue
{
    text-align: right;
}

.file-list
{
    margin: 1em auto;
    border: 0;
    border-spacing: 1px;
}

.file-source table
{
    border-spacing: 0;
}

.file-source table td {
    padding: 1px 10px;
}

.file-source table td:last-child
{
    width: 100%;
}

footer
{
    text-align: center;
    padding-top: 3px;
}
