# ignore all by default
*

# explicitly allow certain code files, build files config files, and documentation
!*.py
!gcovr/**.py
!doc/**.py
!admin
!**/Makefile
!**.md
!**.rst
!*.txt
!*.cfg
!**/requirements.txt

# explicitly allow resources
!gcovr/templates

# explicitly allow tests
!doc/examples
!tests

# always ignore these files
**/__pycache__
**/*.pyc
