# ignore all by default
*

# explicitly allow certain code files, build files config files, and documentation
!*.py
!src/
!doc/**.py
!admin
!**/Makefile
!**.md
!**.rst
!*.txt
!*.cfg
!**/requirements.txt

# explicitly allow tests
!doc/examples
!tests/

# always ignore these files
**/__pycache__
**/*.pyc
