# Declare that the script files will always have LF line endings on checkout.
# Otherwise using cygwin and WSL to execute these will fail if checkout is done on Windows.
*.sh text eol=lf
*.csv text eol=crlf