# For Github actions we need to keep the line breaks in the reference
**/*.cpp -text
**/*.c   -text
**/*.h   -text

# Exclude test reference data from GitHub language statistics
# See also: https://github.com/github/linguist
# (While linguist-generated might be appropriate here,
# that attribute would also suppress diffs on GH. Can't have that!)
*/reference/**/*.* linguist-detectable=false
**/Makefile        linguist-detectable=false
**/CMakeLists.txt  linguist-detectable=false
**/*.cmd           linguist-detectable=false
**/*.sh            linguist-detectable=false
