# Ignore output directory and files
output/

# Do not ignore source files with coverage data
!/*/source/**.gcov

# except in config, reference and data directories
!*/config/**
!*/reference/**
!*/data/**
# and input stylesheet
!style*.css

# Unit test / coverage reports
.pytest_cache/
.coverage
testcase
stderr

# Differences
diff.zip

# MacOS
.DS_Store
