# Ignore output files
coverage.log
coverage*.txt
coverage*.md
*.html
*.css
coverage*.json
summary_coverage*.json
coverage*.csv
coverage*.lcov
clover*.xml
cobertura*.xml
coveralls*.json
jacoco*.xml
sonarqube*.xml

# CMake build directory
build/

# except in config, reference and data directories
!*/config/**
!*/reference/**
!*/data/**
# and input stylesheet
!style.css

# C extensions
*.o
*.so

# Unit test / coverage reports
.pytest_cache/
.coverage
testcase
*.gcda
*.gcno
*.gcov
*.gcov.json.gz
*.gcov.json
# Extracted .json.gz
*##*.json

# Differences
diff.zip

# MacOS
.DS_Store
