{# -*- engine: jinja -*- #}
{% if function_list %}
<div class="m-3">
<details>
  <summary>List of functions</summary>
  <table class="functionslist text-mono text-small wb-break-word listOfFunctions">
    <tr class="text-left">
      <th class="css-truncate css-truncate-target">Function (Line)</th>
      <th>Call count</th>
      <th>Block coverage</th>
    </tr>
{% for entry in function_list %}
    <tr>
      {#- #}<td><a href="#l{{ entry['line'] }}">{{ entry["name"] }} (line {{ entry["line"] }})</a></td>
      {#- #}<td>
                {%- if entry["excluded"] %}excluded
                {%- else %}
                {%-  if entry["count"] == 0 %}not called
                {%-  else %}called {{ entry["count"] }} time{% if entry["count"] > 1 %}s{% endif %}, returned {{ entry["returned"] }} time{% if entry["returned"] > 1 %}s{% endif %}
                {%-  endif -%}
                {%- endif -%}
      {#- #}</td>
      {#- #}<td>{{ entry["blocks"] }}%</td>
      {#- -#}
    </tr>
{% endfor %}
  </table>
</details>
</div>
{% endif -%}
