{# -*- engine: jinja -*- #}
<div>
    <div class="containter-xl clearfix">
        <div class="col-sm-12 col-lg-9 float-left d-flex flex-column p-3">
            <div class="d-flex">
                <div class="mr-2 color-fg-accent transy-2">
                    <svg aria-label="Directory" aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-file-directory-fill hx_color-icon-directory">
                        <path d="M1.75 1A1.75 1.75 0 0 0 0 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0 0 16 13.25v-8.5A1.75 1.75 0 0 0 14.25 3H7.5a.25.25 0 0 1-.2-.1l-.9-1.2C6.07 1.26 5.55 1 5 1H1.75Z"></path>
                    </svg>
                </div>
                <span>{{info.get_directory()}}</span>
            </div>
            <div>File: {{filename}}</div>
            <div>Date: {{info.date}}</div>
        </div>
        <div class="col-sm-12 col-lg-3 float-left d-flex flex-column text-right flex-justify-end p-3">
            <div class="d-flex">
                <div class="mr-2">Lines:</div>
                <div class="mr-2" style="margin: auto;">{{lines.exec}}/{{lines.total}}</div>
                <div class="Label--minw"><span class="{{lines.class}} IssueLabel color-fg-on-emphasis mr-1">{{lines.coverage}}%</span></div>
            </div>
            <div class="d-flex">
                <div class="mr-2">Functions:</div>
                <div class="mr-2" style="margin: auto;">{{functions.exec}}/{{functions.total}}</div>
                <div class="Label--minw"><span class="{{functions.class}} IssueLabel color-fg-on-emphasis mr-1">{{functions.coverage}}%</span></div>
            </div>
            <div class="d-flex">
                <div class="mr-2">Branches:</div>
                <div class="mr-2" style="margin: auto;">{{branches.exec}}/{{branches.total}}</div>
                <div class="Label--minw"><span class="{{branches.class}} IssueLabel color-fg-on-emphasis mr-1">{{branches.coverage}}%</span></div>
            </div>
            {% if not EXCLUDE_CONDITIONS %}
            <div class="d-flex">
                <div class="mr-2">Conditions:</div>
                <div class="mr-2" style="margin: auto;">{{conditions.exec}}/{{conditions.total}}</div>
                <div class="Label--minw"><span class="{{conditions.class}} IssueLabel color-fg-on-emphasis mr-1">{{conditions.coverage}}%</span></div>
            </div>
            {% endif %}
            {% if SHOW_DECISION %}
            <div class="d-flex">
                <div class="mr-2">Decisions:</div>
                <div class="mr-2" style="margin: auto;">{{decisions.exec}}/{{decisions.total}}</div>
                <div class="Label--minw"><span class="{{decisions.class}} IssueLabel color-fg-on-emphasis mr-1">{{decisions.coverage}}%</span></div>
            </div>
            {% endif %}
            {% if not EXCLUDE_CALLS %}
            <div class="d-flex">
                <div class="mr-2">Calls:</div>
                <div class="mr-2" style="margin: auto;">{{calls.exec}}/{{calls.total}}</div>
                <div class="Label--minw"><span class="{{calls.class}} IssueLabel color-fg-on-emphasis mr-1">{{calls.coverage}}%</span></div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
