{# -*- engine: jinja -*- #}
{% extends "base.html" %}

{% block html_title %}Functions - {{info.head}}{% endblock %}

{% block breadcrumb %}<a href="index.html" class="breadcrumb-home">Index</a><span class="separator"> / </span><span class="current">Functions</span>{% endblock %}

{% block sidebar_tree %}
<div class="tree-item">
  <div class="tree-item-header">
    <a href="index.html" class="tree-toggle" title="Back to directory">
      <span class="toggle-icon">&larr;</span>
    </a>
    <span class="tree-icon folder">
      <svg viewBox="0 0 16 16" width="16" height="16"><path fill="currentColor" d="M1.75 1A1.75 1.75 0 000 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0016 13.25v-8.5A1.75 1.75 0 0014.25 3H7.5a.25.25 0 01-.2-.1l-.9-1.2C6.07 1.26 5.55 1 5 1H1.75z"></path></svg>
    </span>
    <a class="tree-label" href="index.html">Back to Index</a>
  </div>
</div>
<div class="tree-item active">
  <div class="tree-item-header">
    <span class="tree-toggle-spacer"></span>
    <span class="tree-icon file">
      <svg viewBox="0 0 16 16" width="16" height="16"><path fill="currentColor" d="M9.504.43a1.516 1.516 0 012.437 1.713L10.415 5.5h2.123c1.57 0 2.346 1.909 1.22 3.004l-7.34 7.142a1.516 1.516 0 01-2.437-1.713L5.585 10.5H3.462c-1.57 0-2.346-1.909-1.22-3.004L9.504.43z"></path></svg>
    </span>
    <span class="tree-label">Functions</span>
  </div>
</div>
{% endblock %}

{% block summary %}
{% include "functions_page.summary.html" %}
{% endblock %}

{% block content %}
{% include "functions_page.content.html" %}
{% endblock %}
