{# -*- engine: jinja -*- #}
<div class="functions-container">
  <div class="functions-header">
    {% set class_sortable = " sortable" if not info.static_report and function_list | length > 1 else "" %}
    <div class="col-function{{class_sortable}}{% if class_sortable %} sorted-ascending{% endif %}" data-sort="name">Function</div>
    <div class="col-calls{{class_sortable}}" data-sort="calls">Calls</div>
    <div class="col-lines{{class_sortable}}" data-sort="lines">Lines</div>
    <div class="col-branches{{class_sortable}}" data-sort="branches">Branches</div>
  </div>

  <div class="functions-body">
    {% for entry in function_list %}
    <div class="function-row" data-name="{{entry.name}}" data-calls="{{'-' if entry['excluded'] else entry['count']}}" data-lines="{{entry.line_coverage}}" data-branches="{{entry.branch_coverage}}">
      <div class="col-function">
        <a href="{%- if info.single_page %}#{{ entry['html_filename'] }}|
                 {%- elif (html_filename != entry['html_filename']) %}{{ entry['html_filename'] }}#
                 {%- else %}#
                 {%- endif %}l{{ entry['line'] }}">
          <span class="function-name">{{ entry["name"] }}</span>
          <span class="function-location">{{ entry["filename"] }}:{{ entry["line"] }}</span>
        </a>
      </div>
      <div class="col-calls">
        {%- if entry["excluded"] %}<span class="excluded">excluded</span>
        {%- else %}
        {%-  if entry["count"] == 0 %}<span class="not-called">not called</span>
        {%-  else %}<span class="called">{{ entry["count"] }}x</span>
        {%-  endif -%}
        {%- endif -%}
      </div>
      <div class="col-lines">{{ entry["line_coverage"] }}%</div>
      <div class="col-branches">{{ entry["branch_coverage"] }}%</div>
    </div>
    {% endfor %}
  </div>
</div>
