{# -*- engine: jinja -*- #}
{% if info.navigation is defined and fname in info.navigation %}
<div class="nav-links">
  {% if info.navigation[fname][0] %}
  <a class="nav-link nav-prev" href="{% if info.single_page %}#{% endif %}{{info.navigation[fname][0]}}" title="Previous file">
    <svg viewBox="0 0 16 16" width="16" height="16"><path fill="currentColor" d="M9.78 12.78a.75.75 0 01-1.06 0L4.47 8.53a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L6.06 8l3.72 3.72a.75.75 0 010 1.06z"></path></svg>
  </a>
  {% else %}
  <span class="nav-link nav-prev disabled" title="Previous file">
    <svg viewBox="0 0 16 16" width="16" height="16"><path fill="currentColor" d="M9.78 12.78a.75.75 0 01-1.06 0L4.47 8.53a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L6.06 8l3.72 3.72a.75.75 0 010 1.06z"></path></svg>
  </span>
  {% endif %}
  {% if info.navigation[fname][1] %}
  <a class="nav-link nav-next" href="{% if info.single_page %}#{% endif %}{{info.navigation[fname][1]}}" title="Next file">
    <svg viewBox="0 0 16 16" width="16" height="16"><path fill="currentColor" d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z"></path></svg>
  </a>
  {% else %}
  <span class="nav-link nav-next disabled" title="Next file">
    <svg viewBox="0 0 16 16" width="16" height="16"><path fill="currentColor" d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z"></path></svg>
  </span>
  {% endif %}
</div>
{% endif %}
