:root {
    font-family: sans-serif;
    --tab_size: {{tab_size}};
}

.theme-green, .theme-blue {
    --unknown_color: lightgray;
    --low_color: #FF6666;
    --medium_color: #F9FD63;
    --high_color: #85E485;
    --covered_color: #85E485;
    --uncovered_color: #FF8C8C;
    --excluded_color: #53BFFD;
    --warning_color: orangered;
    --takenBranch_color: green;
    --notTakenBranch_color: red;
    --takenDecision_color: green;
    --uncheckedDecision_color: darkorange;
    --notTakenDecision_color: red;
    --invokedCall_color: green;
    --notInvokedCall_color: red;
}

.theme-blue {
    --high_color: #66B4FF;
    --covered_color: #66B4Ff;
    --takenBranch_color: blue;
}

body
{
    color: #000000;
    background-color: #FFFFFF;
}

h1
{
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    font-size: 20pt;
    font-weight: bold;
}

hr
{
    background-color: navy;
    height: 2px;
    border: 0;
}

/* Link formats: use maroon w/underlines */
a:link
{
    color: navy;
    text-decoration: underline;
}
a:visited
{
    color: maroon;
    text-decoration: underline;
}

{% include "style.summary.css" %}

{% include "style.meter.css" %}

{% include "style.filelist.css" %}

{% include "style.details.css" %}

footer
{
    text-align: center;
    padding-top: 3px;
}
