/* Link formats: use maroon w/underlines */
a:link
{
  color: navy;
  text-decoration: underline;
}
a:visited
{
  color: maroon;
  text-decoration: underline;
}

{% if single_page == "js-enabled" %}
.js-enabled .js-enabled-hidden {
  display: none
}

.js-disabled .js-disabled-hidden {
  display: none
}

{% endif %}

@media (max-width: 544px) {
  .filelist .Box-row {
    flex-direction: column;
  }
  .functionslist .Box-row {
    flex-direction: column;
  }

  .filelist .Box-row > div {
    width: 100%;
  }
  .functionslist .Box-row > div {
    width: 100%;
  }
}

button.button_toggle_coveredLine,
button.button_toggle_uncoveredLine,
button.button_toggle_excludedLine,
button.button_toggle_partialCoveredLine {
  margin-left: 1em;
  border: 1px solid;
  border-radius: 6px;
  color: var(--color-fg-default);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-decoration: line-through;
}
button.button_toggle_coveredLine.show_coveredLine,
button.button_toggle_uncoveredLine.show_uncoveredLine,
button.button_toggle_excludedLine.show_excludedLine,
button.button_toggle_partialCoveredLine.show_partialCoveredLine {
  text-decoration: none;
}

button.button_toggle_coveredLine {
  background-color: var(--covered_color) !important;
}
button.button_toggle_uncoveredLine {
  background-color: var(--uncovered_color) !important;
}
button.button_toggle_excludedLine {
  background-color: var(--excluded_color) !important;
}
button.button_toggle_partialCoveredLine {
  background-color: var(--partial_covered_color) !important;
}

div.nav {
  margin-left: auto;
}

a.nav {
  text-decoration: none;
  color: grey;
  padding-left: 1em;
}

a.nav:hover {
  text-decoration: underline;
}

a.nav.prev::after {
  content: "« prev";
}

a.nav.index::after {
  content: "^ index";
}

a.nav.next::after {
  content: "» next";
}

.sticky {
  position: sticky;
  top: 0;
}
