# Ignore output files
coverage*.txt
coverage*.json
summary_coverage*.json
coverage*.xml
sonarqube*.xml
coverage*.csv
coveralls*.json
*.html
*.css
# except in reference and data directories
!*/reference/**
!*/data/**
# and input stylesheet
!style.css

# C extensions
*.o
*.so

# Unit test / coverage reports
.pytest_cache/
.coverage
*.gcda
*.gcno
*.gcov
.tox
nosetests.xml
testcase

# Differences
diff.zip

# MacOS
.DS_Store
