# ignore all HTML and CSS files
*.html
*.css
# except in reference directories
!*/reference/*
# and input stylesheet
!style.css

# C extensions
*.o
*.so

# Unit test / coverage reports
.pytest_cache/
.coverage
*.gcda
*.gcno
.tox
nosetests.xml
testcase
