# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  release:
    types: [created]

jobs:

  release-check:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Setup environment
      run: |
        echo "GITHUB_PR_NUMBER=${{ github.event.pull_request.number }}" >> $GITHUB_ENV
      shell: bash
    - name: Run release_checklist
      run: |
        admin/release_checklist 4.2
 
  deploy:
    runs-on: ubuntu-18.04
    needs: release-check

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.5'
    - name: Install GCC (Linux)
      run: |
        sudo apt update
        sudo apt-get install -y make ${{ matrix.gcc }} $(echo ${{ matrix.gcc }} | sed -e 's/gcc/g\+\+/')
        sudo apt-get clean
    - name: Install dependencies
      run: |
        make setup-dev PYTHON=python
    - name: Lint with flake8
      run: |
        make lint PYTHON=python
    - name: Test with pytest
      run: |
        make test CC=${{ matrix.gcc }} PYTHON=python TEST_OPTS="--archive_differences"
    - name: Generate documentation
      run: |
        make doc PYTHON=python
    - name: Build and publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
